@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 20px;

}
body{
	scroll: none;
}
h1,h2,h3,h4,h5,h6{
	padding: 10px 5px;
}
h2{
	font-size: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-bottom: 2px solid black;
	background-color: #999;
}
a{
	text-decoration: none;
}
.dot{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #000;
	vertical-align: middle;
}
.container{
	width: 80%;
	margin: 0 auto;
	padding: 20px 0;
	overflow: auto;
}
/*header部分*/
header{
	overflow: auto;
}
#head{
	float: left;
	width: 80%;
	overflow: auto;
}
h1{
	padding: 10px 5px;
	border-bottom: 2px solid black;
}
h1>span{
	display: inline-block;
	box-sizing: border-box;
}
h1>span:first-of-type{
	font-size: 3rem;
	line-height: 3rem;
}
h1>span:last-of-type{
	float: right;
	margin-top: 0.75rem;
	font-size: 1.5rem;
	line-height: 3rem;
	vertical-align: baseline;
}
h1>img{
	display: none;
}
#infomation{
	padding: 10px 5px;
	font-size: 1.2rem;
}
.infos{
	float: left;
	width: 50%;
	height: 1.8rem;
}
#img{
	float: left;
	margin-left: 20px;
	max-width: 140px;
	max-height: 200px;
	overflow: hidden;
}
#img>img{
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 1250px){
	.container{
		
	}
	#head{
		width: auto;
	}
	h1{
		position: relative;
		min-height: 110px;
	}
	h1>span{
		display: block;
	}
	h1>span:last-of-type{
		float: none;
	}
	h1>img{
		display: block;
		position: absolute;
		right: 10px;
		top: 0;
		width: 95px;
		height: 140px;
	}
	#img>img{
		display: none;
	}
}
@media screen and (max-width: 1100px){
	.container{
		width: 100%;
	}
}
@media screen and (max-width: 600px){
	html{
		font-size: 15px;
	}
	h1>img{
		width: 80px;
		height: 115px;
	}
}
@media screen and (max-width: 450px){
	html{
		font-size: 12px;
	}
	h1>span:first-of-type{
		font-size: 2rem;
	}
	h1>span:last-of-type{
		font-size: 1.3rem;
	}
}
/*教育背景部分*/
#teachbg{
	overflow: auto;
}
.bg>span{
	display: inline-block;
	width: 19%;
	text-align: center;
	line-height: 1.8rem;
}
@media screen and (max-width: 850px){
	.bg{
		width: 50%;
		float: left;
	}
	.bg>span{
		display: block;
		width: auto;	
		line-height: 1.5rem;
	}
}
/*获得荣誉部分*/
.glorycell{
	margin-left: 5px;
	line-height: 1.8rem;
}
/*个人技能部分*/
#skill{
	overflow: auto;
}
.skillcell{
	margin-left: 5px;
	overflow: auto;
	clear: both;
}
.skillcell>div{
	line-height: 1.8rem;
}
.skillcell>div:first-of-type{
	float: left;
	width: 5em;
	font-weight: bold;
}
.skillcell>ul{
	float: left;
}
.skillcell>ul>li{
	list-style: none;
	line-height: 1.8rem;
	word-break: break-all;
}
/*项目经历部分*/
#project{
	overflow: auto;
}
.projectt{
	background-color: #CCC;
}
.projectt3{
	display: inline-block;
	width: 32%;
	font-weight: bold;
	line-height: 2.2rem;
}
.projectc{
	margin-left: 5px;
	word-break: break-all;
}
.projectc+.projectc{
	margin-top: 0.4rem;
}
.projectc>span{
	font-weight: bold;
}
#github{
	display: inline-block;
	font-weight: bold;
	line-height: 2.2rem;
	background-color: #CCC;
}
@media screen and (max-width: 850px){
	.projectt3:first-of-type{
		width: 31%;
	}
	.projectt3:nth-of-type(2){
		width: 42%;
	}
	.projectt3:last-of-type{
		width: 22%;
	}
}
/*实习经历部分*/
#practice{
	overflow: auto;
}
.practicet{
	margin-left: 5px;
}
.practicet3{
	display: inline-block;
	width: 32%;
	font-weight: bold;
	line-height: 1.8rem;
}
.practicec{
	margin-left: 5px;
	word-break: break-all;
}
.practicec+.practicec{
	margin-top: 0.4rem;
}
.practicec>span{
	font-weight: bold;
}
@media screen and (max-width: 450px){
	.practicet3:first-of-type{
		width: 39%;
	}
	.practicet3:nth-of-type(2){
		width: 28%;
	}
	.practicet3:last-of-type{
		width: 28%;
	}
}
/*自我评价部分*/
.myselfcell{
	margin-left: 5px;
	line-height: 1.8rem;
}